#gallery {
  width: 0em;
  height: 0em;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 40em)  { 
#gallery {
  width: 0em;
  height: 00em;
}
}

@media (max-width: 60em)  { 
#gallery {
  width: 0em;
  height: 0em;
}
}
  
#gallery figure {
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
}

#gallery figcaption {
  position: absolute;
  left: 0em;
  bottom: 0em;
  color: white;
}

#gallery img {
  width: 50%;
  margin: 0;
  padding: 0;  
}